header{
	background-color: orange;
}

.column-1{
	background-color: grey;
	float:left;
	width: 50%;
}

.column-2{
	background-color: yellow;
	width: 50%;
	float: left;
}

footer{
	background-color: red;
	position: fixed;
	bottom: 0px;
}

p {
	font-family: helvetica;
}

h1 {
	font-family: arial;
}